// SPDX-License-Identifier: GPL-2.0 OR BSD-3-Clause
/*
 * Samsung Galaxy S7 (herolte) MFC bring-up.
 *
 * Keep the MFC power domain on while the Exynos8890-specific power-off and
 * local CMU/Q-channel sequencing is still being brought upstream.
 */

#include <dt-bindings/clock/samsung,exynos8890-cmu-mfc.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

&soc {
	pd_mfc: power-domain@105c4180 {
		compatible = "samsung,exynos8890-mfc-pd";
		reg = <0x105c4180 0x20>;
		#power-domain-cells = <0>;
		label = "MFC";
	};

	cmu_mfc: clock-controller@15280000 {
		compatible = "samsung,exynos8890-cmu-mfc";
		reg = <0x15280000 0x8000>;
		#clock-cells = <1>;
		clocks = <&oscclk>,
			 <&cmu_top CLK_GOUT_TOP_ACLK_MFC_600>;
		clock-names = "oscclk", "aclk_mfc_600";
		power-domains = <&pd_mfc>;
	};

	mfc: codec@152e0000 {
		compatible = "samsung,exynos8890-mfc", "samsung,mfc-v10";
		reg = <0x152e0000 0x10000>;
		interrupts = <GIC_SPI 302 IRQ_TYPE_LEVEL_HIGH>;

		clocks = <&cmu_mfc CLK_GOUT_MFC_ACLK_MFC>;
		clock-names = "mfc";
		power-domains = <&pd_mfc>;

		iommus = <&sysmmu_mfc0_0>, <&sysmmu_mfc0_1>;
		iommu-names = "left", "right";
	};

	sysmmu_mfc0_0: iommu@15200000 {
		compatible = "samsung,exynos-sysmmu";
		reg = <0x15200000 0x1000>;
		interrupts = <GIC_SPI 296 IRQ_TYPE_LEVEL_HIGH>;

		clocks = <&cmu_mfc CLK_GOUT_MFC_ACLK_SMMU_MFC_0>,
			 <&cmu_mfc CLK_GOUT_MFC_PCLK_SMMU_MFC_0>;
		clock-names = "aclk", "pclk";
		power-domains = <&pd_mfc>;

		#iommu-cells = <0>;
	};

	sysmmu_mfc0_1: iommu@15220000 {
		compatible = "samsung,exynos-sysmmu";
		reg = <0x15220000 0x1000>;
		interrupts = <GIC_SPI 298 IRQ_TYPE_LEVEL_HIGH>;

		clocks = <&cmu_mfc CLK_GOUT_MFC_ACLK_SMMU_MFC_1>,
			 <&cmu_mfc CLK_GOUT_MFC_PCLK_SMMU_MFC_1>;
		clock-names = "aclk", "pclk";
		power-domains = <&pd_mfc>;

		#iommu-cells = <0>;
	};
};
