// SPDX-License-Identifier: GPL-2.0 OR BSD-3-Clause
/*
 * Samsung Galaxy S7 (herolte) basic CS47L91 audio bring-up.
 *
 * This covers the AP AIF1 PCM path and a conservative AIF4-to-MAX98506
 * speaker path. Modem voice, compressed/offload audio and voice control are
 * left for separate follow-up work.
 */

#include <dt-bindings/clock/samsung,s2mps11.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/sound/madera.h>

&pinctrl_alive {
	codec_irq: codec-irq-pins {
		samsung,pins = "gpa2-6";
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};
};

&pinctrl_peric1 {
	codec_reset: codec-reset-pins {
		samsung,pins = "gpe6-5";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_UP>;
	};
};

&soc {
	lpass: audio-subsystem@11400000 {
		compatible = "samsung,exynos8890-lpass";
		reg = <0x11400000 0x100>,
		      <0x03000000 0x24000>,
		      <0x11500000 0x100>;

		clocks = <&cmu_aud CLK_GOUT_AUD_PCLK_SFR0>;
		clock-names = "sfr0_ctrl";

		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		adma: dma-controller@11420000 {
			compatible = "arm,pl330", "arm,primecell";
			reg = <0x11420000 0x1000>;
			interrupts = <GIC_SPI 66 IRQ_TYPE_LEVEL_HIGH>;

			clocks = <&cmu_aud CLK_GOUT_AUD_ACLK_DMAC>;
			clock-names = "apb_pclk";

			#dma-cells = <1>;
			dma-channels = <8>;
			dma-requests = <16>;
			arm,primecell-periphid = <0x341330>;
		};

		i2s0: i2s@11440000 {
			compatible = "samsung,exynos7-i2s";
			reg = <0x11440000 0x100>;
			interrupts = <GIC_SPI 63 IRQ_TYPE_LEVEL_HIGH>;

			dmas = <&adma 0>, <&adma 2>;
			dma-names = "tx", "rx";

			clocks = <&cmu_aud CLK_GOUT_AUD_PCLK_I2S>,
				 <&cmu_aud CLK_GOUT_AUD_SCLK_I2S>,
				 <&cmu_aud CLK_GOUT_AUD_SCLK_I2S_BCLK>;
			clock-names = "iis", "i2s_opclk0", "i2s_opclk1";

			#clock-cells = <1>;
			#sound-dai-cells = <1>;

			pinctrl-0 = <&i2s0_bus>;
			pinctrl-names = "default";
		};
	};

	spi_0: spi@14d20000 {
		compatible = "samsung,exynos7-spi";
		reg = <0x14d20000 0x100>;
		interrupts = <GIC_SPI 448 IRQ_TYPE_LEVEL_HIGH>;

		clocks = <&cmu_peric1 CLK_GOUT_PERIC1_PCLK_SPI0>,
			 <&cmu_peric1 CLK_GOUT_PERIC1_SCLK_SPI0>;
		clock-names = "spi", "spi_busclk0";
		samsung,spi-src-clk = <0>;

		pinctrl-0 = <&spi0_bus &spi0_cs &codec_irq &codec_reset>;
		pinctrl-names = "default";

		#address-cells = <1>;
		#size-cells = <0>;
		num-cs = <1>;
		cs-gpios = <&gpe2 1 GPIO_ACTIVE_LOW>;

		audio_codec: codec@0 {
			compatible = "cirrus,cs47l91";
			reg = <0>;
			spi-max-frequency = <25000000>;

			interrupt-parent = <&gpa2>;
			interrupts = <6 IRQ_TYPE_LEVEL_LOW>;
			interrupt-controller;
			#interrupt-cells = <2>;

			gpio-controller;
			#gpio-cells = <2>;
			#sound-dai-cells = <1>;

			reset-gpios = <&gpe6 5 GPIO_ACTIVE_LOW>;

			AVDD-supply = <&s2mps16_ldo30>;
			DBVDD1-supply = <&s2mps16_ldo30>;
			DBVDD2-supply = <&s2mps16_ldo30>;
			DBVDD3-supply = <&s2mps16_ldo30>;
			DBVDD4-supply = <&s2mps16_ldo30>;
			CPVDD1-supply = <&s2mps16_ldo30>;
			CPVDD2-supply = <&s2mps16_ldo30>;
			DCVDD-supply = <&s2mps16_ldo31>;

			clocks = <&s2mps16_osc S2MPS11_CLK_AP>;
			clock-names = "mclk2";

			cirrus,dmic-ref = <MADERA_DMIC_REF_MICBIAS2
					    MADERA_DMIC_REF_MICBIAS1>;
			cirrus,max-channels-clocked = <2 0 0 0>;
			cirrus,out-mono = <0 1 1>;

			pinctrl-0 = <&audio_codec_pins>;
			pinctrl-names = "default";

			audio_codec_pins: pin-settings {
				aif1-pins {
					groups = "aif1";
					function = "aif1";
				};

				aif4-pins {
					groups = "aif4";
					function = "aif4";
				};
			};
		};
	};
};

&hsi2c_0 {
	status = "okay";

	speaker_amp: amplifier@31 {
		compatible = "maxim,max98506";
		reg = <0x31>;
		#sound-dai-cells = <0>;
	};
};

/ {
	sound {
		compatible = "samsung,herolte-audio";
		model = "Samsung Galaxy S7";

		audio-codec = <&audio_codec>;
		speaker-codec = <&speaker_amp>;
		i2s-controller = <&i2s0 0>;

		audio-routing =
			"HP", "HPOUT1L",
			"HP", "HPOUT1R",
			"RCV", "HPOUT3L",
			"RCV", "HPOUT3R",
			"SPK", "SPKOUT",
			"Main Mic", "MICBIAS2A",
			"IN1ARN", "Main Mic",
			"IN1ARP", "Main Mic",
			"Headset Mic", "MICBIAS1A",
			"IN2BLN", "Headset Mic",
			"IN2BLP", "Headset Mic",
			"Sub Mic", "MICBIAS2B",
			"DMICCLK3", "Sub Mic",
			"DMICDAT3", "Sub Mic";
	};
};
