// SPDX-License-Identifier: GPL-2.0 OR BSD-3-Clause
/*
 * Samsung Galaxy S7 (herolte/SM-G930F) device tree source
 *
 * Copyright (c) 2025 Ivaylo Ivanov <ivo.ivanov.ivanov1@gmail.com>
 */

/dts-v1/;
#include "exynos8890.dtsi"
#include "exynos8890-max77854.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "exynos8890-herolte-s2mpb02.dtsi"

/ {
	model = "Samsung Galaxy S7 (SM-G930F)";
	compatible = "samsung,herolte", "samsung,exynos8890";
	chassis-type = "handset";

	aliases {
		mmc0 = &mmc;
		spi0 = &spi_0;
		serial0 = &serial_4; // UART
		serial1 = &serial_1; // Bluetooth
	};

	chosen {
		#address-cells = <2>;
		#size-cells = <1>;
		ranges;

		framebuffer@e2a00000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0xe2a00000 (1440 * 2560 * 4)>;

			width = <1440>;
			height = <2560>;
			stride = <(1440 * 4)>;
			format = "a8r8g8b8";

			/* these are required until there's a display driver */
			vci-supply = <&max77838_ldo1>;
			vdd3-supply = <&max77838_ldo3>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		pinctrl-0 = <&key_power &key_voldown &key_volup &key_home
			     &hall_flip>;
		pinctrl-names = "default";

		power-key {
			label = "Power";
			gpios = <&gpa2 4 GPIO_ACTIVE_LOW>;
			wakeup-source;
			linux,code = <KEY_POWER>;
		};

		voldown-key {
			label = "Volume Down";
			gpios = <&gpa0 4 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
		};

		volup-key {
			label = "Volume Up";
			gpios = <&gpa0 3 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
		};

		home-key {
			label = "Home";
			gpios = <&gpa0 5 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_HOMEPAGE>;
			wakeup-source;
		};

		hall-switch {
			label = "Flip cover";
			gpios = <&gpa0 1 GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_SW>;
			linux,code = <SW_LID>;
			wakeup-source;
		};
	};

	thermal-zones {
		mngs-thermal {
			polling-delay-passive = <0>;
			polling-delay = <1000>;
			thermal-sensors = <&tmuctrl_0>;
		};

		apollo-thermal {
			polling-delay-passive = <0>;
			polling-delay = <1000>;
			thermal-sensors = <&tmuctrl_1>;
		};

		gpu-thermal {
			polling-delay-passive = <0>;
			polling-delay = <1000>;
			thermal-sensors = <&tmuctrl_2>;
		};

		isp-thermal {
			polling-delay-passive = <0>;
			polling-delay = <1000>;
			thermal-sensors = <&tmuctrl_3>;
		};
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x7e400000>,
		      <0x8 0x80000000 0x80000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <1>;
		ranges;

		ect_reserved: ect@a0000000 {
			reg = <0x0 0xa0000000 0x19000>;
			no-map;
		};

		tima@b1000000 {
			reg = <0x0 0xb1000000 0x200000>;
			no-map;
		};

		video-fw@c0800000 {
			reg = <0x0 0xc0800000 0x400000>;
			no-map;
		};

		video-stream@c1000000 {
			reg = <0x0 0xc1000000 0x1400000>;
			no-map;
		};

		video-frame@c2400000 {
			reg = <0x0 0xc2400000 0x6400000>;
			no-map;
		};

		video-scaler@c8800000 {
			reg = <0x0 0xc8800000 0x4800000>;
			no-map;
		};

		gpu-crc@cd000000 {
			reg = <0x0 0xcd000000 0x800000>;
			no-map;
		};

		gpu-buffer@cd800000 {
			reg = <0x0 0xcd800000 0x3000000>;
			no-map;
		};

		modem@f0000000 {
			reg = <0x0 0xf0000000 0x8800000>;
			no-map;
		};

		secure-camera@fc000000 {
			reg = <0x0 0xfc000000 0x1c00000>;
			no-map;
		};

		ramoops@92000000 {
			compatible = "ramoops";
			reg = <0x0 0x92000000 0x8000>;
			console-size = <0x4000>;
			record-size = <0x4000>;
		};

		cont_splash_mem: framebuffer@e2a00000 {
			reg = <0x0 0xe2a00000 (1440 * 2560 * 4)>;
			no-map;
		};
	};

	firmware {
		ect {
			compatible = "samsung,exynos8890-ect";
			memory-region = <&ect_reserved>;
			method = "smc";
		};
	};

	vdd_fixed_mmc: regulator-fixed-mmc {
		compatible = "regulator-fixed";

		enable-active-high;
		gpio = <&gpa3 7 GPIO_ACTIVE_HIGH>;
		vin-supply = <&s2mpb02_ldo18>;

		regulator-max-microvolt = <2800000>;
		regulator-min-microvolt = <2800000>;
		regulator-name = "vdd_fixed_mmc";
	};

	gpu_opp_table: opp-table-gpu {
		compatible = "operating-points-v2";

		opp-227500000 {
			opp-hz = /bits/ 64 <227500000>;
			opp-microvolt = <1000000>;
		};

		opp-455000000 {
			opp-hz = /bits/ 64 <455000000>;
			opp-microvolt = <1000000>;
		};
	};

	nfc_clock: nfc-clock {
		compatible = "samsung,exynos8890-nfc-clock";
		#clock-cells = <0>;
		clocks = <&oscclk>;
		samsung,pmu-syscon = <&pmu_system_controller>;
	};
};

&tmuctrl_0 {
	status = "okay";
};

&tmuctrl_1 {
	status = "okay";
};

&tmuctrl_2 {
	status = "okay";
};

&tmuctrl_3 {
	status = "okay";
};

&decon_f {
	status = "okay";
};

&dsim0_observer {
	status = "okay";
};

&vpp_g1_observer {
	status = "okay";
};

&sysmmu_disp01_observer {
	status = "okay";
};

&gpu {
	/* we can only afford a slightly higher rate till there's dvfs */
	assigned-clocks = <&cmu_top CLK_FOUT_G3D_PLL>;
	assigned-clock-rates = <455000000>;

	mali-supply = <&s2mps16_buck6>;
	operating-points-v2 = <&gpu_opp_table>;

	status = "okay";
};

&hsi2c_7 {
	status = "okay";

	touchscreen@48 {
		compatible = "samsung,s6sa552";
		reg = <0x48>;

		avdd-supply = <&s2mps16_ldo33>;
		vdd-supply = <&s2mps16_ldo32>;

		interrupt-parent = <&gpa1>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;

		pinctrl-0 = <&ts_int>;
		pinctrl-names = "default";
	};
};

&hsi2c_2 {
	proximity@28 {
		compatible = "semtech,sx9310";
		reg = <0x28>;
		interrupt-parent = <&gpa2>;
		interrupts = <5 IRQ_TYPE_LEVEL_LOW>;
		#io-channel-cells = <1>;
		status = "disabled"; /* supplies are not identified by vendor DT */
	};
};

&hsi2c_5 {
	status = "okay";

	nfc@27 {
		compatible = "samsung,s3fwrn5-i2c";
		reg = <0x27>;

		interrupt-parent = <&gpa1>;
		interrupts = <2 IRQ_TYPE_EDGE_RISING>;

		en-gpios = <&gpi2 7 GPIO_ACTIVE_HIGH>;
		wake-gpios = <&gpe7 0 GPIO_ACTIVE_HIGH>;
		clk-req-gpios = <&gpa2 7 GPIO_ACTIVE_HIGH>;
		clocks = <&nfc_clock>;
		vdd-supply = <&s2mps16_ldo37>;
		wakeup-source;
	};
};

&hsi2c_10 {
	status = "okay";

	pmic@60 {
		compatible = "maxim,max77838";
		reg = <0x60>;

		regulators {
			max77838_ldo1: ldo1 {
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "max77838_ldo1";
			};

			max77838_ldo2: ldo2 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "max77838_ldo2";
			};

			max77838_ldo3: ldo3 {
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-name = "max77838_ldo3";
			};

			max77838_ldo4: ldo4 {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "max77838_ldo4";
			};

			max77838_buck: buck {
				regulator-boot-on;
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1600000>;
				regulator-name = "max77838_buck";
			};
		};
	};
};

&hsi2c_12 {
	status = "okay";

	wireless-charger@61 {
		compatible = "idt,p9220";
		reg = <0x61>;
		detect-gpios = <&gpa2 0 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&wpc_detect>;
		pinctrl-names = "default";
	};
};

&hsi2c_15 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	pmic@66 {
		compatible = "samsung,s2mps16-pmic";
		reg = <0x66>;
		interrupts = <6 IRQ_TYPE_LEVEL_LOW>;
		interrupt-parent = <&gpa3>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_irq>;
		wakeup-source;

		s2mps16_osc: clocks {
			compatible = "samsung,s2mps16-clk";
			#clock-cells = <1>;
			clock-output-names = "s2mps16_ap", "s2mps16_cp",
					     "s2mps16_bt";
		};

		regulators {
			s2mps16_buck1: buck1 {
				regulator-always-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1000000>;
				regulator-name = "vdd_buck1";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_buck2: buck2 {
				regulator-always-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1575000>;
				regulator-name = "vdd_buck2";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_buck3: buck3 {
				regulator-always-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1475000>;
				regulator-name = "vdd_buck3";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_buck4: buck4 {
				regulator-always-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1000000>;
				regulator-name = "vdd_buck4";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_buck5: buck5 {
				regulator-always-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1000000>;
				regulator-name = "vdd_buck5";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_buck6: buck6 {
				regulator-always-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1000000>;
				regulator-name = "vdd_buck6";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_buck7: buck7 {
				regulator-always-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1300000>;
				regulator-name = "vdd_buck7";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_buck8: buck8 {
				regulator-always-on;
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1500000>;
				regulator-name = "vdd_buck8";
				regulator-ramp-delay = <2000>;
			};

			s2mps16_buck9: buck9 {
				regulator-always-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <2100000>;
				regulator-name = "vdd_buck9";
				regulator-ramp-delay = <2700>;
			};

			/* buck10 is used for CP but lacks documentation */

			s2mps16_buck11: buck11 {
				regulator-always-on;
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-name = "vdd_buck11";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_ldo1: ldo1 {
				regulator-always-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdd_ldo1";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_ldo2: ldo2 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <2800000>;
				regulator-name = "vdd_ldo2";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_ldo3: ldo3 {
				regulator-always-on;
				regulator-min-microvolt = <1620000>;
				regulator-max-microvolt = <1980000>;
				regulator-name = "vdd_ldo3";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_ldo4: ldo4 {
				regulator-always-on;
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1110000>;
				regulator-name = "vdd_ldo4";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_ldo5: ldo5 {
				regulator-always-on;
				regulator-min-microvolt = <1625000>;
				regulator-max-microvolt = <1975000>;
				regulator-ramp-delay = <12000>;
				regulator-name = "vdd_ldo5";
			};

			s2mps16_ldo6: ldo6 {
				regulator-always-on;
				regulator-min-microvolt = <2250000>;
				regulator-max-microvolt = <3300000>;
				regulator-ramp-delay = <12000>;
				regulator-name = "vdd_ldo6";
			};

			s2mps16_ldo7: ldo7 {
				regulator-always-on;
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1250000>;
				regulator-ramp-delay = <12000>;
				regulator-name = "vdd_ldo7";
			};

			s2mps16_ldo8: ldo8 {
				regulator-always-on;
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1000000>;
				regulator-name = "vdd_ldo8";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_ldo9: ldo9 {
				regulator-always-on;
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1000000>;
				regulator-name = "vdd_ldo9";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_ldo10: ldo10 {
				regulator-always-on;
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1200000>;
				regulator-name = "vdd_ldo10";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_ldo11: ldo11 {
				regulator-always-on;
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1000000>;
				regulator-name = "vdd_ldo11";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_ldo12: ldo12 {
				regulator-always-on;
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1300000>;
				regulator-name = "vdd_ldo12";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_ldo13: ldo13 {
				regulator-always-on;
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1300000>;
				regulator-name = "vdd_ldo13";
				regulator-ramp-delay = <12000>;
			};

			/* ldo14-24 are used for CP but lack documentation */

			s2mps16_ldo25: ldo25 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1000000>;
				regulator-name = "vdd_ldo25";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_ldo26: ldo26 {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1200000>;
				regulator-name = "vdd_ldo26";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_ldo27: ldo27 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-name = "vdd_ldo27";
				regulator-ramp-delay = <12000>;
			};

			s2mps16_ldo28: ldo28 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-name = "vdd_ldo28";
			};

			s2mps16_ldo29: ldo29 {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vdd_ldo29";
			};

			s2mps16_ldo30: ldo30 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vdd_ldo30";
			};

			s2mps16_ldo31: ldo31 {
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-name = "vdd_ldo31";
			};

			s2mps16_ldo32: ldo32 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vdd_ldo32";
			};

			s2mps16_ldo33: ldo33 {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vdd_ldo33";
			};

			s2mps16_ldo34: ldo34 {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vdd_ldo34";
			};

			s2mps16_ldo35: ldo35 {
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-name = "vdd_ldo35";
			};

			s2mps16_ldo36: ldo36 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vdd_ldo36";
			};

			s2mps16_ldo37: ldo37 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vdd_ldo37";
			};
		};
	};
};

&mmc {
	bus-width = <4>;

	card-detect-delay = <200>;
	cd-gpios = <&gpa1 5 GPIO_ACTIVE_LOW>;

	clock-frequency = <800000000>;

	disable-wp;

	pinctrl-names = "default";
	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_bus1 &sd2_bus4 &sd2_cd>;

	sd-uhs-sdr50;
	sd-uhs-sdr104;

	vmmc-supply = <&vdd_fixed_mmc>;
	vqmmc-supply = <&s2mps16_ldo2>;

	samsung,dw-mshc-ciu-div = <3>;
	samsung,dw-mshc-sdr-timing = <0 2>;
	samsung,dw-mshc-ddr-timing = <1 2>;
	samsung,voltage-int-extra = <0x7>;

	status = "okay";
};

&oscclk {
	clock-frequency = <26000000>;
};

&pinctrl_alive {
	wpc_detect: wpc-detect-pins {
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_DOWN>;
		samsung,pins = "gpa2-0";
	};

	key_power: key-power-pins {
		samsung,pin-drv = <EXYNOS7_PIN_DRV_LV1>;
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pins = "gpa2-4";
	};

	key_voldown: key-voldown-pins {
		samsung,pin-drv = <EXYNOS7_PIN_DRV_LV1>;
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pins = "gpa0-4";
	};

	key_volup: key-volup-pins {
		samsung,pin-drv = <EXYNOS7_PIN_DRV_LV1>;
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pins = "gpa0-3";
	};

	key_home: key-home-pins {
		samsung,pin-drv = <EXYNOS7_PIN_DRV_LV1>;
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_UP>;
		samsung,pins = "gpa0-5";
	};

	hall_flip: hall-flip-pins {
		samsung,pin-drv = <EXYNOS7_PIN_DRV_LV1>;
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pins = "gpa0-1";
	};

	pmic_irq: pmic-irq-pins {
		samsung,pin-drv = <EXYNOS7_PIN_DRV_LV4>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_UP>;
		samsung,pins = "gpa3-6";
	};

	sd2_cd: sd2-cd-pins {
		samsung,pin-drv = <EXYNOS7_PIN_DRV_LV1>;
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pins = "gpa1-5";
	};

	ts_int: ts-int-pins {
		samsung,pin-drv = <EXYNOS7_PIN_DRV_LV1>;
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pins = "gpa1-0";
	};
};

&usbdrd30 {
	vdd10-supply = <&s2mps16_ldo4>;
	vdd33-supply = <&s2mps16_ldo6>;
	status = "okay";
};

&usbdrd30_dwc3 {
	dr_mode = "otg";
	extcon = <&max77854_muic>;
	maximum-speed = "high-speed";
	status = "okay";
};

&usbdrd30_phy {
	/* TODO: add regulators */
	status = "okay";
};

&serial_4 {
	/* multiplexed over muic */
	pinctrl-0 = <&uart4_hero_bus>;
	pinctrl-names = "default";
	status = "okay";
};
&pinctrl_peric1 {
	uart4_hero_bus: uart4-hero-bus-pins {
		samsung,pin-function = <EXYNOS_PIN_FUNC_2>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pins = "gpe1-1", "gpe1-0";
	};

	pcie0_clkreq: pcie0-clkreq-pins {
		samsung,pins = "gpj1-0";
		samsung,pin-function = <EXYNOS_PIN_FUNC_2>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_UP>;
		samsung,pin-drv = <EXYNOS7_PIN_DRV_LV4>;
	};
};

/ {
	wlan_reg_on: regulator-wlan-reg-on {
		compatible = "regulator-fixed";
		regulator-name = "wlan-reg-on";

		gpio = <&gpj1 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <200000>;
	};
};

&soc {
	pcie0: pcie@157a0000 {
		compatible = "samsung,exynos8890-pcie";
		device_type = "pci";
		reg = <0x157a0000 0x1000>,
		      <0x15660000 0x1000>,
		      <0x1c000000 0x1000>,
		      <0x15630000 0x1000>,
		      <0x15601044 0x10>,
		      <0x156f0000 0x128>;
		reg-names = "dbi", "elbi", "config", "phy", "sysreg", "pcs";

		interrupts = <GIC_SPI 204 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "msi";

		clocks = <&cmu_fsys1 CLK_GOUT_FSYS1_PCLK_PCIE_WIFI0>,
			 <&cmu_fsys1 CLK_GOUT_FSYS1_ACLK_PCIE_WIFI0_DBI>,
			 <&cmu_fsys1 CLK_GOUT_FSYS1_ACLK_PCIE_WIFI0_SLV>,
			 <&cmu_fsys1 CLK_GOUT_FSYS1_ACLK_PCIE_WIFI0_MSTR>,
			 <&cmu_fsys1 CLK_GOUT_FSYS1_ACLK_AHB2AXI_PCIE_WIFI0>,
			 <&cmu_fsys1 CLK_GOUT_FSYS1_ACLK_COMBO_PHY_PCS_PCLK_WIFI0>,
			 <&cmu_fsys1 CLK_GOUT_FSYS1_PCLK_COMBO_PHY_WIFI0>,
			 <&cmu_fsys1 CLK_GOUT_FSYS1_PHYCLK_PCIE_WIFI0_DIG_REFCLK>,
			 <&cmu_fsys1 CLK_GOUT_FSYS1_PHYCLK_PCIE_WIFI0_TX0>,
			 <&cmu_fsys1 CLK_GOUT_FSYS1_PHYCLK_PCIE_WIFI0_RX0>;
		clock-names = "pcie", "dbi", "slv", "mstr", "ahb", "pcs",
			      "phy-pclk", "phy-ref", "phy-tx", "phy-rx";

		samsung,pmu-syscon = <&pmu_system_controller>;
		reset-gpios = <&gpj1 2 GPIO_ACTIVE_LOW>;
		vpcie-supply = <&wlan_reg_on>;

		pinctrl-0 = <&pcie0_clkreq>;
		pinctrl-names = "default";

		#address-cells = <3>;
		#size-cells = <2>;
		#interrupt-cells = <1>;

		bus-range = <0x00 0xff>;
		num-lanes = <1>;
		max-link-speed = <1>;

		ranges = <0x81000000 0 0x00000000 0x1c001000 0 0x00010000>,
			 <0x82000000 0 0x1c011000 0x1c011000 0 0x01feefff>;

		interrupt-map-mask = <0 0 0 0>;
		interrupt-map = <0 0 0 0 &gic GIC_SPI 204 IRQ_TYPE_LEVEL_HIGH>;

		status = "okay";
	};
};

&serial_1 {
        uart-has-rtscts;
        status = "okay";

        bluetooth {
                compatible = "brcm,bcm43540-bt";

                shutdown-gpios = <&gpj1 7 GPIO_ACTIVE_HIGH>;
                device-wakeup-gpios = <&gpi2 3 GPIO_ACTIVE_HIGH>;

                interrupt-parent = <&gpa2>;
                interrupts = <3 IRQ_TYPE_EDGE_RISING>;
                interrupt-names = "host-wakeup";

                clocks = <&s2mps16_osc S2MPS11_CLK_BT>;
                clock-names = "lpo";
        };
};
