// SPDX-License-Identifier: GPL-2.0
/*
 * Samsung Galaxy Tab Advanced 4 (SM-T536, matisse10wifikx)
 * Minimal first-boot device tree.
 */

/dts-v1/;
#include "exynos7870.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "Samsung Galaxy Tab Advanced 4";
	compatible = "samsung,matisse10wifikx", "samsung,exynos7870";
	chassis-type = "tablet";

	aliases {
		mmc0 = &mmc0;
		serial0 = &serial0;
		serial1 = &serial1;
		serial2 = &serial2;
	};

	chosen {
		#address-cells = <2>;
		#size-cells = <1>;
		ranges;

		stdout-path = "serial2:115200n8";

		framebuffer@67000000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0x67000000 0x003e8000>;
			width = <1280>;
			height = <800>;
			stride = <(1280 * 4)>;
			format = "a8r8g8b8";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		label = "GPIO Keys";

		pinctrl-names = "default";
		pinctrl-0 = <&key_power &key_voldown &key_volup &key_home>;

		key-power {
			label = "Power Key";
			gpios = <&gpa0 0 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			wakeup-source;
		};

		key-voldown {
			label = "Volume Down Key";
			gpios = <&gpa2 1 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
		};

		key-volup {
			label = "Volume Up Key";
			gpios = <&gpa2 0 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
		};

		key-home {
			label = "Home Key";
			gpios = <&gpa1 7 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_HOMEPAGE>;
			wakeup-source;
		};
	};

	tsp_en: regulator-tsp-en {
		compatible = "regulator-fixed";
		regulator-name = "tsp_en";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&gpd1 6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	/* Matches the two stock SM-T536 memory nodes. */
	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0x3e400000>,
		      <0x0 0x80000000 0x40000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <1>;
		ranges;

		ramoops@46e00000 {
			compatible = "ramoops";
			reg = <0x0 0x46e00000 0x8000>;
			console-size = <0x4000>;
			pmsg-size = <0x4000>;
		};

		/* Keep the stock bootloader framebuffer out of the page allocator. */
		framebuffer@67000000 {
			reg = <0x0 0x67000000 0x003e8000>;
			no-map;
		};

		/* Non-reusable firmware carveouts from the stock SM-T536 DTB. */
		mfc-firmware@ae600000 {
			reg = <0x0 0xae600000 0x00400000>;
			no-map;
		};

		cp-init@affff000 {
			reg = <0x0 0xaffff000 0x00001000>;
			no-map;
		};

		modem@b0000000 {
			reg = <0x0 0xb0000000 0x07800000>;
			no-map;
		};

		gnss@b7c00000 {
			reg = <0x0 0xb7c00000 0x00400000>;
			no-map;
		};
	};
};

&oscclk {
	clock-frequency = <26000000>;
};

&hsi2c0 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <2500000>;
	status = "okay";

	pmic@66 {
		compatible = "samsung,s2mpu05-pmic";
		reg = <0x66>;
		interrupt-parent = <&gpa0>;
		interrupts = <2 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_irq>;

		regulators {
			vdd_buck1: buck1 {
				regulator-name = "BUCK1";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_buck2: buck2 {
				regulator-name = "BUCK2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_buck3: buck3 {
				regulator-name = "BUCK3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_buck4: buck4 {
				regulator-name = "BUCK4";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1500000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_buck5: buck5 {
				regulator-name = "BUCK5";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <2100000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_ldo1: ldo1 {
				regulator-name = "vdd_ldo1";
				regulator-min-microvolt = <650000>;
				regulator-max-microvolt = <1350000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_ldo2: ldo2 {
				regulator-name = "vqmmc";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <2800000>;
			};

			vdd_ldo3: ldo3 {
				regulator-name = "vdd_ldo3";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <2375000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_ldo4: ldo4 {
				regulator-name = "vdd_ldo4";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1350000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_ldo5: ldo5 {
				regulator-name = "vdd_ldo5";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1350000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_ldo6: ldo6 {
				regulator-name = "vdd_ldo6";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1350000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_ldo7: ldo7 {
				regulator-name = "vdd_ldo7";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <2375000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_ldo8: ldo8 {
				regulator-name = "vdd_ldo8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3375000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_ldo9: ldo9 {
				regulator-name = "vdd_ldo9";
				regulator-min-microvolt = <650000>;
				regulator-max-microvolt = <1350000>;
				regulator-always-on;
			};

			vdd_ldo10: ldo10 {
				regulator-name = "vdd_ldo10";
				regulator-min-microvolt = <650000>;
				regulator-max-microvolt = <1350000>;
				regulator-always-on;
			};

			vdd_ldo25: ldo25 {
				regulator-name = "VDDIO_1.8V_CAM";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};

			vdd_ldo26: ldo26 {
				regulator-name = "vemmc";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3375000>;
				regulator-boot-on;
			};

			vdd_ldo27: ldo27 {
				regulator-name = "vqemmc";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <2375000>;
				regulator-boot-on;
			};

			vdd_ldo28: ldo28 {
				regulator-name = "vmmc";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
			};

			vdd_ldo29: ldo29 {
				regulator-name = "VDD_CAM_AF_2P8";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
			};

			vdd_ldo30: ldo30 {
				regulator-name = "VDD_CODEC_1P8";
				regulator-min-microvolt = <1850000>;
				regulator-max-microvolt = <1850000>;
				regulator-always-on;
			};

			vdd_ldo31: ldo31 {
				regulator-name = "vdd_ldo31";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-always-on;
			};

			vdd_ldo32: ldo32 {
				regulator-name = "VDD_CODEC_3P3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vdd_ldo33: ldo33 {
				regulator-name = "VT_CAM_2P8";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
			};

			vdd_ldo34: ldo34 {
				regulator-name = "ldo_34";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};

			vdd_ldo35: ldo35 {
				regulator-name = "VDD_CAM_SENSOR_A2P8";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
			};
		};
	};
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_rdqs &sd0_bus1 &sd0_bus4 &sd0_bus8>;

	vmmc-supply = <&vdd_ldo26>;
	vqmmc-supply = <&vdd_ldo27>;

	bus-width = <8>;
	fifo-depth = <64>;
	samsung,dw-mshc-ciu-div = <3>;
	samsung,dw-mshc-sdr-timing = <0 4>;
	samsung,dw-mshc-ddr-timing = <2 4>;
	non-removable;

	status = "okay";
};

&i2c1 {
	/* The s3c24xx driver consumes Samsung's legacy timing properties. */
	samsung,i2c-sda-delay = <100>;
	samsung,i2c-max-bus-freq = <400000>;
	status = "okay";

	touchscreen@49 {
		compatible = "st,stmfts";
		reg = <0x49>;

		interrupt-parent = <&gpa1>;
		interrupts = <5 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&tsp_irq>;

		touchscreen-size-x = <1280>;
		touchscreen-size-y = <800>;

		/* Stock uses one TSP_EN rail for both digital and analog power. */
		vdd-supply = <&tsp_en>;
		avdd-supply = <&tsp_en>;
	};
};

&pinctrl_alive {
	tsp_irq: touchscreen-irq-pins {
		samsung,pins = "gpa1-5";
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS5433_PIN_DRV_FAST_SR1>;
	};

	key_home: key-home-pins {
		samsung,pins = "gpa1-7";
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS5433_PIN_DRV_FAST_SR1>;
	};

	key_power: key-power-pins {
		samsung,pins = "gpa0-0";
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS5433_PIN_DRV_FAST_SR1>;
	};

	key_voldown: key-voldown-pins {
		samsung,pins = "gpa2-1";
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS5433_PIN_DRV_FAST_SR1>;
	};

	key_volup: key-volup-pins {
		samsung,pins = "gpa2-0";
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS5433_PIN_DRV_FAST_SR1>;
	};

	pmic_irq: pmic-irq-pins {
		samsung,pins = "gpa0-2";
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_UP>;
		samsung,pin-drv = <EXYNOS5433_PIN_DRV_FAST_SR3>;
	};
};

/* UART2 is routed to the Samsung debug/accessory connector. */
&serial2 {
	status = "okay";
};